<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Booststrap v5.3-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='historique.css') }}">

    <title>Historic</title>
</head>
<body>
   
    <div class="weather-app">
            <h1 class="brand">Historic </h1>
            <div class="panel">
                <form id="locationInput">
                    <input type="image" src="../static/assets/icons/menu.png" alt="Description de l'image" class="=image_menu">
    
                    </button>
                </form>
              </div>
                <div class="search_form">
                    <form id="locationInput">
                        <input type="text" class="search" placeholder="Search location ..."/>
                        <button type="submit" class="submit">Rechercher 
                            
                        </button>
                    </form>
                </div>
                
                <div class="weather_historic">
                        <article class="weather_historic_item">
                           
                            <img src="../static/assets/images/soleil.png" alt="soleil" class="weather_image">
                            <h3 class="weather_day">Day </h3>
                             
                            <p class="weather_temp">
                                <span class="value">+25</span>&deg;C</p>
                        </article>
                        <article class="weather_historic_item">
                            <img src="../static/assets/images/soleil.png" alt="soleil" class="weather_image">
                            <h3 class="weather_day">Day </h3>
                            <p class="weather_temp">
                                <span class="value">+25</span>&deg;C</p>
                        </article>
                        <article class="weather_historic_item">
                            <img src="../static/assets/images/soleil.png" alt="soleil" class="weather_image">
                            <h3 class="weather_day">Day </h3>
                            <p class="weather_temp">
                                <span class="value">+25</span>&deg;C</p>
                        </article>
                        <article class="weather_historic_item">
                            <img src="../static/assets/images/soleil.png" alt="soleil" class="weather_image">
                            <h3 class="weather_day">Day </h3>
                            <p class="weather_temp">
                                <span class="value">+25</span>&deg;C</p>
                        </article>
                        <article class="weather_historic_item">
                            <img src="../static/assets/images/soleil.png" alt="soleil" class="weather_image">
                            <h3 class="weather_day">Day </h3>
                            <p class="weather_temp">
                                <span class="value">+25</span>&deg;C</p>
                        </article>
                    </div>  
                
                          
    </div>
    
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>