<!DOCTYPE html>
<html>
  <head>
    <title>Flask + Leaflet Map</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  </head>
  <body>
    <div id="map" style="height: 500px;"></div>
    <script>
      var map = L.map('map').setView([36.862499, 10.195556], 13);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
      }).addTo(map);

      L.tileLayer('https://tile.openweathermap.org/map/{layer}/{z}/{x}/{y}.png?appid={API_key}', {
            attribution: 'Map data &copy; <a href="https://openweathermap.org">OpenWeatherMap</a>',
            layer: 'temp_new',
            API_key: '52082668a5218930e731090e3ab37945',
        }).addTo(map);
      cities= {{data['cities']|tojson}};
      
      markers = []
      cities.map((city) => {
        markers.push([city.lat,city.lon])
      })
      console.log("markers" , markers)
      markers.map((cord) =>{
        L.marker(cord).addTo(map)
      })
      var marker = L.marker([51.5, -0.09]).addTo(map);
      marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    </script>
  </body>
</html>






